h1 {
    font-size: 3.5rem;
}

label {
    font-size: 1.25rem;
<<<<<<< HEAD
    color: #0e0d09;
}

body {
    background-color: #36897c;
}

#searchButton {
    background-color: #d67925;
    width: 200px;
    height: 60px;

}

section {
    background-color: #f5e8d8;
    padding: 2%;
    margin-bottom: 8%;
    border-radius: 9px;
}

section:first-child {
    margin-top: 4%;
}

section:last-child {
    margin-bottom: 4%;
}

#movieNYReview h3,
#movieNYReview p {
    color: #0e0d09;
}
=======
}
#recommend{
    font-weight: bold; margin:10px;
}
#movieQuestion{
    border: solid; border-width: 2px;
    width: 60px; align-content: center;
    margin: 10px; float: left;
  }
  .rate{
    width: 50px; height: 50px;
    padding: 10px;
  }
>>>>>>> master
