@import url('https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat');

body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-size: 3.5rem;
    font-family: 'Merriweather',
        Georgia,
        'Times New Roman',
        Times,
        serif;
}

label {
    font-size: 1.25rem;
    color: #0e0d09;
}

body {
    background-color: #36897c;
}

#background-poster {
    background-size: cover;

}

#searchButton {
    background-color: #d67925;
    width: 200px;
    height: 60px;
    box-shadow: 4px 4px 6px 1px #00000045
}

section {
    background-color: #faf5f0;
    padding: 2%;
    margin-bottom: 8%;
    border-radius: 2px;
    z-index: 2;
    box-shadow: 4px 4px 15px 3px #03100bf7;
}

.modal-close {
    float: right;
    font-size: 1.75rem;
}

.modal p {
    font-size: 1.25rem;
}

section:first-child {
    margin-top: 4%;
}

section:last-child {
    margin-bottom: 4%;
}

#movieTitle {
    font-size: 2.5rem;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
    line-height: 2.5rem;
    margin-bottom: 1.5%;
}

.rating,
#movieReleased,
#movieActors {
    font-size: 1.25rem;
    line-height: 2rem;
}

#movieNYReview h3 {
    font-family: 'Merriweather',
        Georgia,
        'Times New Roman',
        Times,
        serif;
}

#movieNYReview h3,
#movieNYReview p {
    color: #0e0d09;
}

#movieNYReview p {
    font-size: 1.25rem;
    line-height: 2rem;
}

#recommend {
    font-weight: bold;
    margin: 10px;
    font-family: 'Merriweather', Georgia, 'Times New Roman', Times, serif;
}

#recommend p {
    font-size: 1.5rem;
}

#movieQuestion {
    border: solid;
    border-width: 2px;
    width: 60px;
    align-content: center;
    margin: 10px;
    float: left;
}

.rate {
    width: 50px;
    height: 50px;
    padding: 10px;
}