body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 3.5rem;
}

label {
    font-size: 1.25rem;
    color: #0e0d09;
}

body {
    background-color: #36897c;
}

#background-poster {
    background-size: cover;

}

#searchButton {
    background-color: #d67925;
    width: 200px;
    height: 60px;

}

section {
    background-color: #faf5f0;
    padding: 2%;
    margin-bottom: 8%;
    border-radius: 2px;
    z-index: 2;
}

.modal-close {
    float: right;
    font-size: 1.75rem;
}

.modal p {
    font-size: 1.25rem;
}

section:first-child {
    margin-top: 4%;
}

section:last-child {
    margin-bottom: 4%;
}

#movieTitle {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.5%;
}

.rating,
#movieReleased,
#movieActors {
    font-size: 1.25rem;
    line-height: 2rem;
}

#movieNYReview h3,
#movieNYReview p {
    color: #0e0d09;
}

#movieNYReview p {
    font-size: 1.25rem;
    line-height: 2rem;
}

#recommend {
    font-weight: bold;
    margin: 10px;
    float: right;
}

#recommend p {
    font-size: 1.5rem;
}

#movieQuestion {
    border: solid;
    border-width: 2px;
    width: 100px;
    align-content: center;
    margin: 10px;
}

.rate {
    width: 60px;
    height: 50px;
    padding: 10px;
    margin: 10px;
}